@import "src/assets/scss/variables";

.ltk-home {
  position: relative;
}

.ltk-text {
  color: black;
}

.ltk-icon {
  font-size: 100px;
  color: $blue;

  &:focus,
  &:active,
  &:hover {
    transition-duration: 0.2s;
    color: white !important;
  }
}

.ltk-ct-icon {
  font-size: 50px;
  color: $blue;

  &:focus,
  &:active,
  &:hover {
    transition-duration: 0.2s;
    color: white !important;
  }
}
@media (min-width: 768px) {
  .txt-animante {
    padding-top: 150px;
  }
}

.btn-ltk {
  background: white !important;
  border: none;

  &:focus,
  &:active,
  &:hover {
    transition-duration: 0.2s;
    color: white !important;
    background: $blue !important;
    box-shadow: 13px 13px 50px -24px $blue !important;
  }
}

.ltk-social-media {
  background: $blue;
}

.ltk-why {
  h1 {
    color: #fff;
  }
}

.ltk-carousel {
  background: $blue;
}

.ltk-friendly {
  h1 {
    color: $blue;
  }
}

.ltk-sologan {
  h1 {
    color: $blue;
  }
}

.ltk-why-choose {
  .card {
    cursor: pointer;
    background: transparent;
    border: none;
    color: $blue;
    height: 290px;

    &:hover {
      transition-duration: 0.2s;
      color: #fff;
      background: $blue;
      box-shadow: 13px 13px 50px -24px $blue;
    }
  }

  button {
    background: transparent;
    border: none;

    &:focus,
    &:active,
    &:hover {
      transition-duration: 0.2s;
      background: none !important;
      border: none !important;
      box-shadow: none !important;
    }
  }

  .ltk-why-icon {
    color: $blue;
    font-size: 60px;
  }
}
