<footer class="page-footer font-small">
  <div class="newsletter">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-lg-5 mt-md-0 mt-3">
          <h1 style="font-size: 3.5rem;" class="text-white font-weight-bold">LUCIEN ROUX</h1>
          <p class="px-2 text-white">Javascript developer of Vietnam, specializing in full service Website design and
            development.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-lg-2 mb-md-0 mb-3">
          <ul class="list-unstyled">
            <li class="py-2">
              <a href="#!" class="text-white">Home</a>
            </li>
            <li class="py-2">
              <a href="#!" class="text-white">About</a>
            </li>
            <li class="py-2">
              <a href="#!" class="text-white">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-5 mb-md-0 mb-3">
          <ul class="list-unstyled">
            <li class="py-2">
              <a href="#!" class="text-white"><i class="far fa-compass mr-2"></i>B Area National University Dormitory,
                Thu
                Duc District, Ho Chi Minh City</a>
            </li>
            <li class="py-2">
              <a href="#!" class="text-white"><i class="far fa-phone mr-2"></i>+84 65 469 403</a>
            </li>
            <li class="py-2">
              <a href="#!" class="text-white"><i class="far fa-mailbox mr-2"></i>letuankhoi.dev@gmail.com</a>
            </li>
            <li class="py-2">
              <a href="https://phuquy.dev/" target="_blank" class="text-white"><i
                  class="fas fa-globe-asia mr-2"></i>https://phuquy.dev/</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="w-100" style="background: #231f20;">
    <div class="container">
      <div class="footer-copyright pt-2 text-white row">
        <div class="col-lg-6">
          <span class="pl-2" style="line-height: 3.5;" href="https://gocodee.com/">© 2019 Copyright GoCodee Ltd,
            Co</span>
        </div>
        <div class="col-lg-6 text-right">
          <p>
            <a href="https://www.facebook.com/tuan.khoi.02.08" target="_blank">
              <button class="btn btn-primary btn-ltk-footer mr-2"><i
                  class="fab fa-facebook-square ltk-ct-icon"></i></button>
            </a>
            <a href="https://secure.skype.com/portal/overview" target="_blank">
              <button class="btn btn-primary btn-ltk-footer mr-2"><i class="fab fa-skype ltk-ct-icon"></i></button>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
