<footer class="page-footer font-small">
  <div class="newsletter">

    <p class="text-center">
      <button class="btn btn-news">
        <i class="fal fa-paper-plane"></i>
      </button>
      <input class="input-news" type="text" placeholder="Getting Newsletter!">
    </p>

  </div>
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mt-md-0 mt-3">
        <h5 class="text-uppercase">
          <img [src]="ltkLogo" class="w-100" alt="Logo">
        </h5>
        <p class="px-2 text-white">Javascript outsourcing team based in Vietnam, specializing in full service Web design
          and
          development</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li class="py-2">
            <a href="#!" class="text-white">Home</a>
          </li>
          <li class="py-2">
            <a href="#!" class="text-white">About</a>
          </li>
          <li class="py-2">
            <a href="#!" class="text-white">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li class="py-2">
            <a href="#!" class="text-white"><i class="far fa-compass mr-2"></i>B Area National University Dormitory, Thu
              Duc District, Ho Chi Minh City</a>
          </li>
          <li class="py-2">
            <a href="#!" class="text-white"><i class="far fa-phone mr-2"></i>+84 65 469 403</a>
          </li>
          <li class="py-2">
            <a href="#!" class="text-white"><i class="far fa-mailbox mr-2"></i>letuankhoi.dev@gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <img class="wooden" [src]="wooden" alt="">
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-4 mt-4 text-white">© 2019 Copyright
    <span href="https://gocodee.com/">GoCodee Ltd, Co</span>
  </div>
</footer>