.ltk-about-me-headline {
  padding-top: 20px;
}

.ltk-banner {
  height: 300px;
  position: relative;
  color: white;
  background: no-repeat center center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(32, 32, 32, 0.6);
  }

  .ltk-banner-shadow {
    background: url("/assets/images/work.jpg") no-repeat;
  }
}

.ltk-frame {
  .main-frame,
  .contact-frame {
    background-image: linear-gradient(to right, #003b30, #289580);
    box-shadow: 13px 13px 50px -24px #106e56;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main-frame-2 {
    background-image: linear-gradient(to right, #289580, #003b30);
  }

  .skill-frame {
    padding: 20px;
    border-radius: 20px;
    top: -410px;
    right: 20px;
    background: #231f20;
    box-shadow: 13px 13px 50px -24px #106e56;
  }

  .experience-frame,
  .edu-frame,
  .hobbie-frame {
    border-radius: 20px;
    background: white;
    box-shadow: 13px 13px 50px -24px #106e56;
  }

  .hobbie-frame,
  .edu-frame {
    padding: 20px;
  }

  .avatar-img {
    width: 100%;
    border-radius: 10px;
  }

  .first-name,
  .last-name {
    color: white;
    font-weight: bold;
    font-size: 2.5em;
  }

  .btn-job-infor {
    background: #231f20;
    color: white;
    font-weight: bold;
    border-radius: 35px;

    &:active,
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .btn-skill {
    width: 60px;
    background: white;
    padding: 13px;
    border-radius: 50%;
  }

  .btn-skill-2 {
    width: 60px;
    background: white;
    font-size: 29px;
    border-radius: 50%;
  }

  .btn-exp {
    font-size: 12px;
    transform: rotate(-90deg);
    position: relative;
    top: 30px;
    background-image: linear-gradient(to right, #003b30, #289580);
    border-radius: 25px;
    color: white;
    font-weight: bold;

    &:active,
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .btn-edu {
    font-size: 12px;
    background-image: linear-gradient(to right, #003b30, #289580);
    width: 120px;
    border-radius: 25px;
    color: white;
    font-weight: bold;

    &:active,
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .contact-icon {
    font-size: 30px;
    color: white;
  }

  .hobbie-icon {
    color: #106e56;
    font-size: 60px;
  }

  .exp-mg {
    padding: 20px 40px 20px 20px;
  }

  .exp-title,
  .edu-title,
  .hobbie-title {
    font-weight: bold;
    color: #0f5240;
  }

  .exp-job {
    color: #106e56;
    span {
      color: black !important;
    }
  }

  .exp-infor {
    border-bottom: solid 1px #cccccc;
  }
}
