<div class="ltk-about-me-headline ltk-about-me mb-4">
  <div class="ltk-banner mb-4">
    <div class="container-fluid h-100">
      <div class="row ltk-banner-shadow h-100">
        <div class="col-lg-12 my-auto text-right">
          <h2 class="text-uppercase">
            brief information
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ltk-frame">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 main-frame">
        <div class="ltk-avatar">
          <div class="container">
            <div class="row">
              <div class="col-lg-2 avatar">
                <img [src]="user?.avatar" alt="avatar" class="avatar-img">
              </div>
              <div class="col-lg-10 gen-infor">
                <h1 class="first-name">
                  {{user?.name}}
                </h1>
                <div class="w-100">
                  <button class="btn btn-job-infor">
                    {{user?.jobTitle}}
                  </button>
                </div>
                <div class="w-100">
                  <p class="text-white mt-2 pt-2">
                    {{user?.description}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 contact-frame d-none d-sm-block">
        <div class="col-lg-12 contact-infor">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-2 contact-icon text-center p-0">
                      <i class="fal fa-mobile-android"></i>
                    </div>
                    <div class="col-lg-10">
                      <p class="text-white m-0">
                        {{user?.phone}}
                      </p>
                    </div>
                    <div class="col-lg-2 contact-icon text-center p-0">
                      <i class="fal fa-envelope-square"></i>
                    </div>
                    <div class="col-lg-10">
                      <p class="text-white m-0">
                        {{user?.email}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-2 contact-icon text-center p-0">
                      <i class="fal fa-browser"></i>
                    </div>
                    <div class="col-lg-10">
                      <p class="text-white m-0">
                        {{user?.webLink}}
                      </p>
                    </div>
                    <div class="col-lg-2 contact-icon text-center p-0">
                      <i class="fal fa-map-marked-alt"></i>
                    </div>
                    <div class="col-lg-10">
                      <p class="text-white m-0">
                        {{user?.address}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 exp-mg">
        <div class="container experience-frame p-4">
          <div class="row">
            <div class="col-lg-12 my-4">
              <h1 class="exp-title">
                EXPERIENCE
              </h1>
            </div>
            <div *ngFor="let exp of exps" class="container mt-4">
              <div class="row">
                <div class="col-lg-2 pr-0 d-none d-sm-block">
                  <button class="btn btn-exp">
                    {{exp?.duration}}
                  </button>
                </div>
                <div class="col-lg-9 exp-infor">
                  <h4 class="exp-job text-uppercase font-weight-bold">
                    {{exp?.expName}}
                  </h4>
                  <p class="exp-content">
                    {{exp?.note}}
                  </p>
                  <p class="exp-content font-weight-bold">
                    {{exp?.company}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 skill-mg">
        <div class="container skill-frame">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="text-white font-weight-bold text-center">MY SKILL</h3>
              <p class="text-white text-center">
                Good in every stage of the life cycle of software development, including design creation, coding,
                , and maintenance.
              </p>
            </div>
            <div class="col-lg-12 col-12 pl-4">
              <h5 *ngFor="let skill of skills" class="text-white">
                {{skill}}
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="container edu-frame">
          <div class="row">
            <div class="col-lg-12 mt-1 mb-3">
              <h1 class="edu-title">
                LANGUAGES
              </h1>
            </div>
            <div class="col-lg-12">
              <div class="container">
                <div class="row">
                  <h4 class="w-100" *ngFor="let lang of langs">
                    {{lang}}
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-4">
        <div class="container edu-frame">
          <div class="row">
            <div class="col-lg-12 mt-1 mb-3">
              <h1 class="edu-title">
                EDUCATION
              </h1>
            </div>
            <div *ngFor="let edu of edus" class="col-lg-6">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4 pl-0">
                    <h5 class="edu-job font-weight-bold">
                      {{edu?.eduName}}
                    </h5>
                    <button class="btn btn-edu my-2">
                      {{edu?.duration}}
                    </button>
                  </div>
                  <div class="col-lg-8 pl-0">
                    <h4 class="exp-job font-weight-bold">
                      {{edu?.location}}
                    </h4>
                    <p class="exp-content">
                      {{edu?.note}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 my-4">
        <div class="container hobbie-frame">
          <div class="row">
            <div class="col-lg-3">
              <h1 class="hobbie-title">
                SOCIAL SKILL
              </h1>
            </div>
            <div class="col-lg-9">
              <div class="container">
                <div class="row">
                  <div *ngFor="let hobbie of hobbies" class="col-lg-2 col-6">
                    <div class="hobbies-icon">
                      <span class="hobbie-icon text-center" [innerHTML]="hobbie.icon"></span>
                      <h5 class="title font-weight-bold">
                        {{hobbie.name}}
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
