<div class="ltk-about-me-headline ltk-about-me mb-4">
  <div class="ltk-banner mb-4">
    <div class="container-fluid h-100">
      <div class="row ltk-banner-shadow h-100">
        <div class="col-lg-12 my-auto text-center">
          <h1 class="text-uppercase font-weight-bold">
            about me
          </h1>
          <h2 class="text-uppercase">
            brief information of mine
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="ltk-avatar">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-white">
          <h3 class="ltk-name">
            <span class="ltk-hl">NAME</span> Le Tuan Khoi
          </h3>
          <h3 class="ltk-nickname">
            <span class="ltk-hl">BIRTHDAY</span> August 02, 1999
          </h3>
          <h3 class="ltk-nickname">
            <span class="ltk-hl">EMAIL</span> letuankhoi.dev@gmail.com
          </h3>
          <h3 class="ltk-nickname">
            <span class="ltk-hl">MOBILE</span> +84 95 469 403
          </h3>
          <h3 class="ltk-nickname">
            <span class="ltk-hl">ADDRESS</span> Thu Duc District, Ho Chi Minh City, Vietnam
          </h3>
          <p class="text-justify mt-4">
            Accomplished website developer and information system with 2 years of experience in development of Website applications. Good in
            every stage of the life cycle of software development, including design creation, coding, debugging,
            testing, and maintenance.
          </p>
        </div>
        <div class="col-lg-4">
          <div class="card middle">
            <div class="front">
              <img src="assets/images/vestkhoi.png" alt="">
            </div>
            <div class="back">
              <div class="back-content middle">
                <h2>Le Tuan Khoi</h2>
                <span>Full Stack Developer</span>
                <div class="sm">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-skype"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>