<div class="ltk-about-me-headline ltk-about-me mb-4">
  <div class="ltk-banner mb-4">
    <div class="container-fluid h-100">
      <div class="row ltk-banner-shadow h-100">
        <div class="col-lg-12 my-auto text-right">
          <h2 class="text-uppercase">
            brief information
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ltk-frame">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 main-frame">
        <div class="ltk-avatar">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 avatar">
                <img src="assets/images/avatar.jpg" alt="avatar" class="avatar-img">
              </div>
              <div class="col-lg-8 gen-infor">
                <h1 class="first-name">
                  LE
                </h1>
                <h2 class="last-name">
                  TUAN KHOI
                </h2>
                <div class="w-100">
                  <button class="btn btn-job-infor">
                    WEBSITE DESIGNER AND DEVELOPER
                  </button>
                </div>
                <div class="w-100">
                  <p class="text-white mt-2 pt-2">
                    Accomplished website developer and information system with 2 years of experience in development of
                    Website applications.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 main-frame-2"></div>
      <div class="col-lg-8 contact-frame">
        <div class="col-lg-12 contact-infor">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-2 contact-icon text-center p-0">
                      <i class="fal fa-mobile-android"></i>
                    </div>
                    <div class="col-lg-10">
                      <p class="text-white m-0">
                        +849 654 694 03
                      </p>
                    </div>
                    <div class="col-lg-2 contact-icon text-center p-0">
                      <i class="fal fa-envelope-square"></i>
                    </div>
                    <div class="col-lg-10">
                      <p class="text-white m-0">
                        letuankhoi.dev@gmail.com
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-2 contact-icon text-center p-0">
                      <i class="fal fa-browser"></i>
                    </div>
                    <div class="col-lg-10">
                      <p class="text-white m-0">
                        https://lucienroux-2019.firebaseapp.com
                      </p>
                    </div>
                    <div class="col-lg-2 contact-icon text-center p-0">
                      <i class="fal fa-map-marked-alt"></i>
                    </div>
                    <div class="col-lg-10">
                      <p class="text-white m-0">
                        Thu Duc District, Ho Chi Minh City, Vietnam
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 contact-frame"></div>
      <div class="col-lg-8 exp-mg">
        <div class="container experience-frame p-4">
          <div class="row">
            <div class="col-lg-12 my-4">
              <h1 class="exp-title">
                EXPERIENCE
              </h1>
            </div>
            <div *ngFor="let exp of exps" class="container mt-4">
              <div class="row">
                <div class="col-lg-2 pr-0">
                  <button class="btn btn-exp">
                    {{exp.years}}
                  </button>
                </div>
                <div class="col-lg-9 exp-infor pl-0">
                  <h4 class="exp-job text-uppercase font-weight-bold">
                    {{exp.job}}
                    <span class="exp-country">
                      - {{exp.nation}}
                    </span>
                  </h4>
                  <p class="exp-content">
                    {{exp.content}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 skill-frame">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="text-white font-weight-bold text-center">MY SKILL</h3>
              <p class="text-white text-center">
                Good in every stage of the life cycle of software development, including design creation, coding,
                , and maintenance.
              </p>
            </div>
            <div class="col-lg-6 text-center">

              <div class="skill-section my-4">
                <button class="btn btn-skill-2">
                  <i class="fab fa-html5"></i>
                </button>
                <p class="text-white p-0">
                  HTML5
                </p>
              </div>
              <div class="skill-section my-4">
                <button class="btn btn-skill-2">
                  <i class="fab fa-css3-alt"></i>
                </button>
                <p class="text-white p-0">
                  CSS
                </p>
              </div>
              <div class="skill-section my-4">
                <button class="btn btn-skill-2">
                  <i class="fab fa-js"></i>
                </button>
                <p class="text-white p-0">
                  Javascript
                </p>
              </div>
              <div class="skill-section my-4">
                <button class="btn btn-skill-2">
                  <i class="fab fa-angular"></i>
                </button>
                <p class="text-white p-0">
                  Angular
                </p>
              </div>
            </div>
            <div class="col-lg-6 text-center">
              <div class="skill-section my-4">
                <button class="btn btn-skill">
                  <img style="width: 90%;" src="assets/icon/ps.png" alt="ps">
                </button>
                <p class="text-white m-0">
                  Photoshop
                </p>
              </div>
              <div class="skill-section my-4">
                <button class="btn btn-skill">
                  <img style="width: 90%;" src="assets/icon/ai.png" alt="ps">
                </button>
                <p class="text-white p-0">
                  Illustrator
                </p>
              </div>
              <div class="skill-section my-4">
                <button class="btn btn-skill-2">
                  <i class="fas fa-file-word"></i>
                </button>
                <p class="text-white p-0">
                  Word
                </p>
              </div>
              <div class="skill-section my-4">
                <button class="btn btn-skill-2">
                  <i class="fas fa-file-powerpoint"></i>
                </button>
                <p class="text-white p-0">
                  Power Point
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="container edu-frame">
          <div class="row">
            <div class="col-lg-12 mt-1 mb-3">
              <h1 class="edu-title">
                EDUCATION
              </h1>
            </div>
            <div *ngFor="let edu of edus" class="col-lg-6">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <h5 class="edu-job font-weight-bold">
                      {{edu.job}}
                    </h5>
                    <button class="btn btn-edu">
                      {{edu.years}}
                    </button>
                  </div>
                  <div class="col-lg-8">
                    <h4 class="exp-job font-weight-bold">
                      {{edu.uni}}
                      <span class="exp-country">
                        - {{edu.nation}}
                      </span>
                    </h4>
                    <p class="exp-content">
                      {{edu.content}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 my-4">
        <div class="container hobbie-frame">
          <div class="row">
            <div class="col-lg-3">
              <h1 class="hobbie-title">
                HOBBIES
              </h1>
            </div>
            <div class="col-lg-9">
              <div class="container">
                <div class="row">
                  <div *ngFor="let hobbie of hobbies" class="col-lg-2 ">
                    <div class="hobbies-icon">
                    <span class="hobbie-icon text-center" [innerHTML]="hobbie.icon"></span>
                    <h5 class="title font-weight-bold">
                      {{hobbie.name}}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>