<div class="ltk-work">
  <div class="card text-left">
    <div class="hover">

    </div>
    <img class="icon" src="assets/logo/tuankhoilogo-icon.png" alt="#">
    <img class="card-img-top" [src]="card.img" alt="">
    <div class="card-body">
      <span class="badge badge-light mb-2">{{card.tech}}</span>
      <h4 class="card-title">{{card.title}}</h4>
      <p class="card-text">
        {{card.descript}}
      </p>
      <span class="read-more float-right">
        <i class="far fa-ellipsis-h"></i>
      </span>
    </div>
  </div>
</div>