<div class="ltk-text-animate pt-4">
  <div class="container">
    <div class="row">
      <ul class="ltk-list">
        <li class="ltk-text">J</li>
        <li class="ltk-text">A</li>
        <li class="ltk-text">V</li>
        <li class="ltk-text">A</li>
        <li class="ltk-text">S</li>
        <li class="ltk-text">C</li>
        <li class="ltk-text">R</li>
        <li class="ltk-text">I</li>
        <li class="ltk-text">P</li>
        <li class="ltk-text">S</li>
      </ul>
    </div>
  </div>
</div>